.main{
  background:linear-gradient(135deg, #ffffff, #cacaca33);
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.main h1{
  font-size: 28px;
  color: #333;
  text-align: center;
}
