*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  font-family: serif;
  background: linear-gradient(135deg, #0a4f70, #004d6e, #00334d);
  background-attachment: fixed;
}
